@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    padding: 0;
    margin: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    left: 0;
    right: 0;
}
.second{
    width: 880px;
}
.length{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.count{
    background-color: rgb(19, 51, 51);
    padding: 7px;
    border-radius: 10px;
}
.list{
    position: relative;
    display: flex;
    padding: 7px;
    margin-top: 1rem;
    align-items: center;
    gap: 5px;
}
.removeItem{
    position: absolute;
    right: 0;
    padding: 7px;
    background-color: rgb(19, 51, 51);
}
.todo{
    text-transform: uppercase;
}
